body {
  height: 100vh;
  font-size: 2rem;
  background-color: #abe9cd;
  background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
  overflow-y: hidden;
}
.flex-container {
  display: flex;
  justify-content: center;
  margin-top: 3.5vw;
}
.container {
  background-color: rgba(255, 255, 255, 0.747);
  padding: 3.5rem;
  border-top-right-radius: 3rem;
  border-bottom-left-radius: 3rem;

  overflow: hidden;
}
.task,
.task__btn,
.clear-task {
  display: flex;
}
.task {
  padding: 0.4rem;
  background-color: #eeee;
  margin: 1rem 0;
  border-radius: 0.5rem;
  width: 30rem;

  display: flex;
  justify-content: space-between;
}

.task__icon {
  height: 4;
  margin: 0 0.2rem;
}

.heading--main {
  font-family: Oswald;
  margin-bottom: 2rem;
}
.task__name,
.clear-task__text,
.clear-task__btn {
  font-family: "Open Sans";
}
.input__field {
  outline: none;
  border: none;
  font-family: "Open Sans";
  height: 3.2rem;
}
.submit__btn {
  background-color: #bf5fff;
  color: #ffff;
}
.submit__btn:hover,
.task__icon:hover,
.checkbox__icon {
  cursor: pointer;
}
.submit__btn {
  font-weight: 800;
  height: 3.4rem;
  width: 4rem;
}
.checkbox__icon {
  height: 2rem;
  width: 2rem;
  border: 50px solid black;
  margin-top: 2px;
}

/* Media Queries */
@media screen and (max-width: 460px) {
  body {
    font-size: 1.5rem;
  }
  .flex-container {
    margin-top: 7.5rem;
  }
  .container {
    padding: 1.2rem;
  }
  .heading--main {
    text-align: center;
  }
  .submit__btn {
    font-family: Impact, "Arial Narrow Bold", sans-serif;
    font-size: 1.8rem;
  }
}
